// Editor CSS
.image-add-button {
    margin-bottom: 15px;
    padding: 10px 20px;
    border: 1px solid #0275d8;
}
.image-remove-button,
.image-replace-button {
    margin: 0 10px 20px 0;
}
.media-preview-image {
    margin-bottom: 15px;
}
.media-image {
    position: relative;
    img {
        width: 100%;
        object-fit: cover;
    }
    .mask-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            padding: 40px;
            width: 100%;
            object-fit: cover;
        }
    }
}